* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    padding: 0px 20px;
    flex-direction: column;
    background-color: #ffffff;
    color: rgb(50, 50, 50);
    overflow-x: hidden;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body.rtl {
    direction: rtl;
}

body.rtl .btn-delete {
    float: left;
}

.languages {
    display: flex;
    margin-bottom: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: baseline
}

.pageMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
}

.book-filter {
    display: flex;
    align-items: baseline;
    height: 20vh;
    width: 100vw;
    flex-wrap: wrap;
    background-color: rgba(208, 208, 208, 0.553);
    border-radius: 10px;
    justify-content: center;
    align-content: center;
}

.filter-title {
    margin: 0px 20px;
}

.search-bar {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 10px;
}

input {
    margin: 0px 20px;
}

.filter-price,
.filter-rate {
    text-transform: capitalize;
}

.books-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    margin-top: 10px;
    /* text-transform: capitalize; */
    background-color: rgba(208, 208, 208, 0.553);
}

.books-header {
    padding: 2%;
}

.pageButtons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 20px;
    color: rgb(48, 48, 48);
}

input {
    border: 2px solid rgb(197, 197, 197);

}

button,
.form-select {
    color: rgb(50, 50, 50);
    border: none;
    background-color: rgb(138, 200, 255);
    border-radius: .4em;
    padding: 8px;
    text-transform: capitalize;
    cursor: pointer;
    margin: 0px 10px;
}

.btnRead {
    background-color: rgb(102, 102, 255);
}

.btnUpdate {
    background-color: rgb(212, 130, 43);
}

.btnDelete {
    background-color: rgb(185, 82, 82);
}

button:hover {
    background-color: rgb(0, 123, 129);
    color: rgb(255, 255, 255);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    cursor: pointer;
    /* width: 15rem; */
    border-radius: 1rem;
}

input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.4rem;
}

table {
    flex: auto;
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: rgb(156, 156, 156);
    font-size: 16px;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(196, 196, 196);
}

td {
    background-color: rgb(238, 238, 238);

}

.books-container img {
    width: 50%;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 239, 255);
    border: 2px solid rgb(207, 207, 207);
    color: rgb(32, 32, 32);
    padding: 25px;
    position: absolute;
    top: 0px;
    left: 150%;
    height: 60vh;
}

.modal-header {
    display: flex;
    align-items: baseline;
}

.modal-header h3 {
    margin: 0px 20px;
    color: rgb(0, 123, 129);
    text-transform: capitalize;
}

.modal-rating-btns {
    margin-bottom: 40px;
}

.modal.open {
    left: 60%;
    width: 40vw;
    transition: left .5s;
}

.modal>p {
    text-align: center;
}